.nav-outer{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li{
    padding: 8px 35px;
    display: inline;
    border: 1px solid white;
    background-color: #0081ff;
    color: white;
  }
}
